

.nav-links {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    height: 30px;
    width: 100%;
    margin: auto;
    grid-column: 2/3;

}

.tops {
    grid-column: 4/5;
}

.bottoms {
    grid-column: 6/7;
}

.shoes {
    grid-column: 8/9;
}

.accessories {
    grid-column: 10/11;
}
