.container-for-body{
    height: 85vh;

}
.thank-you-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction: column;
    /* height:100vh; */

}

.thank-you-image {
    width: 100%;
    height: auto;
}
