.container-checkout {
    max-width: 700px;
    display: grid;
    /* grid-auto-rows: 1fr;  */
    grid-template-columns: 1fr 1fr 1fr .5fr;
    grid-auto-rows: .2fr;
    margin-right: 4em;
    /* gap: 7px 10px; */
    width: 40%;
    margin-top: 22%;

    /* margin: 0 auto; */
  }

  .header-text{
    text-align: center;
    margin-bottom: 1em;
    background-color: #f56565;
    font-size: 2em;
    font-weight: 600;
    /* font-weight: bold; */
    margin-top: 2em;
  }

  .cart-label{
    text-align: center;
    margin-bottom: 2.5em;
    font-weight: 700;
    font-size:1.5em;
  }

.total-cart {
    margin: 0 auto;
}


.total-cart p {
    margin-bottom: 1em;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 1.5em;
  }



  #form-grid-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .form-container {
    width: 43%;
    padding-left: 2.15em;
    padding-right: 2.15em;
    border: 2px solid #f56565;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    margin-bottom:100px;
  }
