
/* .img-contain {
    max-width: 500px;
} */
/*
.container {
    display: grid;
    grid-template-columns: 1fr 1.5fr 0.5fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 7px 10px;
    grid-template-areas:
      ". . . ."
      ". . . ."
      ". . . .";
  } */

/* .cart-container {
    background-color: red;
}

.product-details-grid-name{
    background-color: blue;
    margin-bottom: 10px;
}

.product-details-grid {
    background-color:green;

}

.img-contain img{
    width: 6em;
    height: 6em;
    object-fit: cover;
    overflow: hidden;
    border-radius: 75%;
}

.product-details-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
} */
